ul, li {
    margin:0;
    padding:0;
}
ul {
    list-style-type:none;
    font-family:'oswald';
    margin-top:30px !important;
    li {
        display:inline-block;
        padding:4px 7px;
        font-size:1.15rem;
    }
}
nav {
    color:#222;
    button {
        height:50px;
        span {
            color: #222 !important;
        }
    }
       
    a {
        text-decoration:none;
        color:#222 !important;
    }
    a:hover {
       text-decoration:none;
    }
    a#slogan {
        font-family:'oswald';
        font-size:1.5rem;
        line-height:1em;
        margin:15px;
    }
}
@include media-breakpoint-down(xs) {
    
}

@include media-breakpoint-down(sm) {
    
}

@include media-breakpoint-down(md) {
    nav {
        padding: 0 !important;
        li {
            width: 100%;
            background-color: rgb(75, 75, 75);
            border-bottom: 1px;
            a {
                height: 100%;
                padding: 3px;
                display: block;
                width: 100%;
                color: #fff !important;
                text-align: center;
            }
        }
        li:hover {
            background-color: rgb(41, 41, 41);
        }
    }
}

@include media-breakpoint-down(lg) {
    
}

@include media-breakpoint-down(xl) {
    
}