ul, li {
    margin:0;
    padding:0;
}
ul {
    list-style-type:none;
    font-family:'oswald';
    margin-top:30px !important;
    li {
        display:inline-block;
        padding:4px 7px;
        font-size:1.15rem;
    }
}
nav {
    // border-bottom:1px #f5f6f7 solid;
    #slogan {
        font-family:'oswald';
        font-size:1.5rem;
        line-height:1em;
        margin:20px 0 15px 0;
    }
}