ul, li {
    margin:0;
    padding:0;
}
ul {
    list-style-type:none;
    font-family:'oswald';
    margin-top:30px !important;
    li {
        display:inline-block;
        padding:4px 7px;
        font-size:1.15rem;
    }
}
nav {
    color:#222;
    button {
        height:50px;
        span {
            color: #222 !important;
        }
    }
       
    a {
        text-decoration:none;
        color:#222 !important;
    }
    a:hover {
       text-decoration:none;
    }
    a#slogan {
        font-family:'oswald';
        font-size:1.5rem;
        line-height:1em;
        margin:20px 0 15px 0;
    }
}